html,
body {
  padding: 0;
  margin: 0;
  font: 100%/1.75 "Merriweather", "Georgia", serif;
}

.light-wrapper {
  display: flex;
  min-height: 100vh;
  background-color: #fff;
  color: #222;
  transition-duration: 0.2s;
  transition-property: background-color, color;
}
.dark-wrapper {
  display: flex;
  min-height: 100vh;
  background-color: #282c35;
  color: #fff;
  transition-duration: 0.2s;
  transition-property: background-color, color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Montserrat, sans-serif;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
  margin-bottom: 1.75rem;
}

img {
  max-width: 100%;
  margin: 0;
  padding: 0;
  margin-bottom: 1.75rem;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
